{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% for flash_error in app.flashes('unverified') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
{% for flash_error in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

    {% if app.user and not app.user.verified %}
    <a href={{path('app_resend_mail')}}>Renvoyer mail</a>
    {% endif %}

{% for trick in tricks %}
    <p>{{trick.name}}</p>
    <p>{{trick.tricksGroup.name}}
    {% for image in trick.tricksImages %}
        <img src='{{ vich_uploader_asset(image) }}'>
    {% endfor %}
{% endfor %}
{% endblock %}
