{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% form_theme registrationForm './form/form_theme.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Enregistrement</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'security'}}) }}
        
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.username) }}
        {{ form_widget(registrationForm.username) }}
        {{ form_label(registrationForm.picture,'Avatar') }}
        {{ form_widget(registrationForm.picture) }}
        {{ form_label(registrationForm.plainPassword,'Mot de passe') }}
        {{ form_widget(registrationForm.plainPassword) }}

        <button type="submit" class="btn">Enregistrement</button>
    {{ form_end(registrationForm) }}
{% endblock %}
