{% extends 'base.html.twig' %}

{% block title %}réinitialisation de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation</h1>

    {{ form_start(requestForm, {'attr': {'class': 'security'}}) }}
        {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}
        <button class="btn btn-primary">Envoyer mail réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
