<nav class="desktop-nav">
	<img src="{{asset('img/logo.png')}}" alt="">
	<ul>
		<li>
			<a href="{{ path('app_home') }}">Accueil</a>
		</li>
		<li>|</li>
		<li>
			<a href="/#tricks">Tricks</a>
		</li>
		<li>|</li>
		{% if app.user %}
			<li>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		{% else %}
			<li>
				<a href={{path('app_login')}}>Connexion</a>
			</li>
			<li>|</li>
			<li>
				<a href={{path('app_register')}}>Inscription</a>
			</li>
		{% endif %}

	</ul>
</nav>
<nav class="mobile-nav">
	<ul>
		<li><a href="{{ path('app_home') }}"><i class="fa-solid fa-house"></i></a></li>
		<li><a href="/#tricks"><i class="fa-solid fa-bookmark"></i></a></li>
		<li><a href={% if app.user %}{{path('app_logout')}}{% else %}{{ path('app_login') }}{% endif %}><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
	</ul>
</nav>
