{% extends 'base.html.twig' %}

{% block title %}
	{% if form.name %}
		{{ form.name.vars.data }}{% else %}Création Tricks
	{% endif %}
{% endblock %}
{% block javascript %}
	{{ encore_entry_script_tags('tricksForm') }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="home-background background-single-trick">
		{{ form_start(form, {'attr': {'class': 'single-trick trick-form'}}) }}
		<div class='trick-action'>
			<i class="fa-solid fa-pencil"></i>
			<i class="fa-solid fa-trash"></i>
		</div>
		{% if tricks.featuredImageName %}
			<img class="featuredImage" src="{{ vich_uploader_asset(tricks,'featuredImageFile') }}" alt="">
		{% else %}
			<img src="{{ asset('img/noimage.png') }}" alt="">
		{% endif %}
		{{ form_widget(form.featuredImageFile, {attr:{ class : 'featuredImageInput'}})}}
		<div class="trickName">
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>
		<a class="mobile-media btn">Voir Médias</a>
		<div class="media-container ">
			<span title="Vidéos embed youtube seulement" class="videoInfo">
				<i class="fa-solid fa-info"></i>
			</span>
			<ul class="tricksVideos" data-index="{{ form.tricksVideos|length > 0 ? form.tricksVideos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.tricksVideos.vars.prototype)|e('html_attr') }}">
				{% for video in form.tricksVideos %}
					<li>
						{{form_widget(video.link)}}
					</li>
				{% endfor %}
			</ul>
			<button type="button" class="addTricksVideo" data-collection-holder-class="tricksVideos">
				<i class="fa-solid fa-plus"></i>
				<i class="fa-brands fa-youtube"></i>
			</button>
			<ul class="tricksImages" data-index="{{ form.tricksImages|length > 0 ? form.tricksImages|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.tricksImages.vars.prototype)|e('html_attr') }}">
				{% for image in form.tricksImages %}
					<li>
						{{ form_row(image.file, {
                                label: false, attr: { class: 'uploadBtn' }
                            }) }}</li>
				{% endfor %}
			</ul>
			<button type="button" class="addTricksImage" data-collection-holder-class="tricksImages">
				<i class="fa-solid fa-plus"></i>
				<i class="fa-solid fa-image"></i>
			</button>
			<div class="mediaError">
				<ul class="videoErrors">
					{% for video in form.tricksVideos %}
						{% if form_errors(video.link) %}
							<li>
								Vidéo
								{{loop.index}}
								:
								{{form_errors(video.link)}}
							</li>
						{% endif %}

					{% endfor %}
				</ul>
				<ul class="videoErrors">
					{% for image in form.tricksImages %}
						{% if form_errors(image.link) %}
							<li>
								Image
								{{loop.index}}
								:
								{{form_errors(image.link)}}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		{{ form_widget(form.description) }}
		<div class="commentError">
			{{ form_errors(form.description) }}
		</div>
		<div class="trick-details">
			{{ form_widget(form.tricksGroup) }}
		</div>
		<div class='trick-form-action'>
			{% if tricks.id %}
				<button class="deleteBtn" onclick='return (confirm("Voulez vous vraiment supprimer le trick?"))'>Supprimer</button>
			{% endif %}

			<button type="submit">Enregistrer</button>
		</div>
		{{ form_end(form) }}
		{% if tricks.id  %}
			<form class='deleteForm' action="{{ path('app_tricks_delete', {'id': tricks.id}) }}" method='post'>
				<input type="hidden" name="token" value="{{ csrf_token('delete-tricks') }}">
				<button type="submit">
					<i class="fa-solid fa-trash"></i>
				</button>
			</form>
		{% endif %}

		{{ include("footer.html.twig", {singleTrickPage}) }}
	</div>
{% endblock %}
