{% extends 'base.html.twig' %}

{% block title %}trick.name
{% endblock %}
{% block javascript %}
	{{ encore_entry_script_tags('ajaxComment') }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="home-background background-single-trick">
		<div class="single-trick">
			<div class='trick-action'>
				{% if app.user == trick.user %}
					<a href="{{path('app_edit_tricks', {'id' : trick.id})}}">
						<i class="fa-solid fa-pencil"></i>
					</a>
					<form class='deleteBtn' action="{{path('app_tricks_delete', {'id' : trick.id})}}" method='post' onsubmit='return (confirm("Voulez vous vraiment supprimer le serveur {{trick.name}} ?"))'>
						<input type="hidden" name="token" value="{{ csrf_token('delete-tricks') }}">
						<button type="submit">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>
				{% endif %}
			</div>
			<img src='{{ vich_uploader_asset(trick.tricksImages[0]) }}'>
			<h1>{{trick.name}}</h1>
			<a href="" class="mobile-media btn">Voir Médias</a>
			<div class="media-container">
				{% for image in trick.tricksImages %}
					<img src='{{ vich_uploader_asset(image) }}'>
				{% endfor %}
				{% for video in trick.tricksVideos %}
					<iframe src="{{video.link}}" frameborder="0"></iframe>
				{% endfor %}
			</div>
			<p>{{trick.description}}</p>
			<div class="trick-details">
				<p>{{trick.tricksGroup.name}}</p>
				<p>Crée par :
					{{trick.user.username}}</p>
			</div>
			{% if app.user %}
				{{ include('comment/_form.html.twig', {'button_label': 'Poster'}) }}
			{% endif %}
			<div class="comments-container">
				{% for comment in comments %}
					<div class="comment" comment-id="{{comment.id}}">
						<img src='../img/avatar/{{ comment.user.picture }}.png'>
						<div class="comment-details">
							<p class="commentContent">{{comment.content}}</p>
							<p class="commentError"></p>
							{% if app.user == comment.user %}
								<div class="comment-action">
									<a class="editBtn" href="#">
										<i class="fa-solid fa-pencil"></i>
									</a>
									{% include "comment/_delete_form.html.twig" %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{% if previous >= 1 %}
					<a href="{{ path('app_tricks_readOne', { id: trick.id, page: previous }) }}">Précédent</a>
				{% endif %}
				{% if (next - 1) * comment_per_page < comments|length %}
					<a href="{{ path('app_tricks_readOne', { id: trick.id, page: next }) }}">Suivant</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
